<div class="row">
    <div class="container-fluid col-sm-1 col-xl-1"></div>
    <div id="iniciocuerpo" class="container-fluid col-sm-10 col-xl-10 card">
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Noticias</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="servicios-tab" data-toggle="tab" href="#servicios" role="tab" aria-controls="servicios" aria-selected="false">Servicios</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="eventos-tab" data-toggle="tab" href="#eventos" role="tab" aria-controls="eventos" aria-selected="false">Eventos</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          Noticias
        </div>

        <div class="tab-pane fade" id="servicios" role="tabpanel" aria-labelledby="servicios-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">$</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Uña Acrilica</td>
                <td>Un uña acrilica sin esmalte</td>
                <td>5.000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Retiro</td>
                <td>Retiro de Acrilico</td>
                <td>10.000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Manicure</td>
                <td>Tratamiento de belleza cosmético en las manos - Tradicional</td>
                <td>10.000</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Pedicure</td>
                <td>Tratamiento de belleza cosmético en los pies - Tradicional</td>
                <td>15.000</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Semi-Manicure</td>
                <td>Tratamiento de belleza cosmético con Esmalte Semipermanente y con una duracion de 3 semanas aprox. </td>
                <td>35.000</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Semi-Pedicure</td>
                <td>Tratamiento de belleza cosmético con Esmalte Semipermanente y con una duracion de 3 semanas aprox.</td>
                <td>35.000</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Acrilico Especial</td>
                <td>Elaboración de uñas artificiales moldeada, texturisada profesionalmente y con un acabado en Esmalete Semipermanente.</td>
                <td>80.000</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Tradicional Especial</td>
                <td>Elaboración de uñas artificiales moldeada, texturisada profesionalmente y con un acabado en Esmalete Tradicional.</td>
                <td>60.000</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Retoque Especial</td>
                <td>Mantenimiento del servicio #Acrilico Especial</td>
                <td>60.000</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Retoque Tradicional</td>
                <td>Mantenimiento del servicio #Acrilico Tradicional</td>
                <td>50.000</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="eventos" role="tabpanel" aria-labelledby="eventos-tab">
          Eventos
        </div>
      </div>
    </div>
    <div class="container-fluid col-sm-1 col-xl-1"></div>
</div>

