<section>
    <div class="d-flex justify-content-center">
        <img class="marca" src="../../assets/Marca.png" alt="Marca">
    </div>   
</section>
<section>
    <div>
        <nav class="d-flex justify-content-center">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mis Datos</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Agendamiento</a>
              <a class="nav-item nav-link" id="nav-diseño-tab" data-toggle="tab" href="#nav-diseño" role="tab" aria-controls="nav-deseño" aria-selected="false">Mis Diseños</a>
            </div>
        </nav>
          
        <div class="d-flex justify-content-center tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">inicio</div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">perfil</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">cita</div>
            <div class="tab-pane fade" id="nav-diseño" role="tabpanel" aria-labelledby="nav-diseño-tab">Diseños</div>
        </div>
    </div>
</section>
