header{
    & nav {
        padding: 0px;
        opacity: 0.5;

    }
    & img{
        height: 30px;
        width: 55px;
        padding: 0px;
        justify-content: center;
    }  
}

section{
    .marca{
        padding: 0px;
        width: 350px;
        height: 100px;
    }
    .carousel{
        height: 450px;
        width: 673px;
        display: flex;
        justify-content: center;
    }
}
