header{
    & nav {
        padding: 0px;
        opacity: 0.5;

    }
    & input{
        height: 30px;
        width: 55px;
        padding: 0px;
        justify-content: center;
        border-radius: 5px;
        border: 0;
        outline: none;
    }  
}



