#dashboard-main-container {
    height: 100vh;
    padding: 0px;
}

#navbar-items {
    height: calc(100% - 160px);
}

ul.nav {
    flex-direction: column;
}

.buscador{
    padding: 0px;
    margin: 30px 0px 60px 5px;
}
.marca{
    padding: 0px;
    width: 40%;
    height: auto;
}
.bg-light {
    background-color: white !important;
}
.salir{
    padding: 0px;
}
.cabeza{
    padding: 0px;
}

