section{
    .marca{
        padding: 0px;
        width: 350px;
        height: 100px;
    }
    .carousel{
        height: 450px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
footer{
    width: 99%;
    padding: 0px;
}